<body>


<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/about_aa51e2b.css"/>



<div id="content" class="clearfix">
<div id="about">
<div>
<img src="__PUBLIC__/picture/banner_95e5a9d.png" class="about-banner" />
</div>
<div class="main">
<div class="wrap">
<div class="about-block"></div>
</div>
</div>
</div>
<input type="hidden" id="bdstoken" name="bdstoken" value="">
<input type="hidden" id="bindstoken" name="bindstoken" value="">
</div>
<footer id="baiducopy">
<div class="footer-items">
<div class="footer-items-snippet footer-item help">
<h3>帮助</h3>
<div class="text">
<a href="https://waimai.baidu.com/waimai?qt=contact">建议与反馈</a>
<a href="https://waimai.baidu.com/waimai?qt=helpusage">使用帮助</a>
<a href="https://waimai.baidu.com/waimai?qt=helpqa">常见问题</a>
<a href="https://waimai.baidu.com/waimai?qt=agreement">用户协议</a>
<a href="/waimai?qt=agreement&right=1">权利声明</a>
</div>
</div>
<div class="footer-items-snippet footer-item followus">
<h3>关注我们</h3>
<div class="text">
<a href="http://tieba.baidu.com/f?kw=%B0%D9%B6%C8%CD%E2%C2%F4&fr=ala0" target="_blank">官方论坛</a>
<a href="http://weibo.com/waimai" target="_blank">新浪微博</a>
<a href="https://waimai.baidu.com/waimai?qt=about" target="_blank">关于我们</a>
<a data-node="wechat" href="javascript:void(0);" class="wechat">微信公众号</a>
<a href="/waimai?qt=agreement&right=2" target="_blank">平台制度</a>
</div>
</div>
<div class="footer-items-snippet footer-item">
<h3>商务合作</h3>
<div class="text">
<a href="http://waimai.baidu.com/biz" target="_blank">商户入驻</a>
<a href="https://waimai.baidu.com/waimai?qt=agent" target="_blank">代理商合作</a>
</div>
</div>
<div class="footer-items-contact footer-item">
<h3>
<img src="__PUBLIC__/picture/contact_25be17c.png" alt="图标">
客服热线</h3>
<em>400-011-7777</em>
<div class="text no-hover">
<span>周一至周日9:00-22:00</span>
</div>
</div>
</div>
<p class="footer-copy">
小度生活（北京）科技有限公司，北京小度信息科技有限公司<a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank" style="margin-left:15px;">京ICP备16008577-1号</a>
<span>合作伙伴&nbsp;:&nbsp;</span>
<img src="__PUBLIC__/picture/nuomi_logo.png" class="footer_nuomi_logo" onclick="javascript:window.location='http://www.nuomi.com/?cid=bdwm';addNStat({da_trd:'waimai',da_src:'nuomilogoBk.click',da_act:'click'});" />
<img src="__PUBLIC__/picture/qianbao_logo.png" class="footer_qianbao_logo" onclick="javascript:window.location='https://www.baifubao.com?from=waimai';addNStat({da_trd:'waimai',da_src:'qianbaologoBk.click',da_act:'click'});" />
</p>
</footer>
<div class="mask"></div>
</body>
</html>