
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/app-help_b00e484.css"/></head>
<body>



<div id="content" class="clearfix">
<div class="main app-help">
<div class="wrap">
<h2>使用帮助</h2>
<div class="cnt">
<mark>1</mark>
<div class="desc">
输入您的收餐地址，<br>查看该地址是否已开通，<br>如果显示<em>暂无开通</em>则无法订餐</div>
<img class="demo" src="__PUBLIC__/picture/step-1_a450f3d.jpg" alt="第一步">
</div>
<div class="cnt">
<mark>2</mark>
<div class="desc">
选择喜欢的餐厅，<br>选择“营业中”的餐厅，<br><em>“休息中”</em>的餐厅无法订餐</div>
<img class="demo" src="__PUBLIC__/picture/step-2_c4435fb.jpg" alt="第二步">
</div>
<div class="cnt step3">
<mark>3</mark>
<div class="desc">
选择您喜爱的菜式下单，<br>并输入确认姓名、联系电话及备注等，<br>确认送餐地址，完成下单。</div>
<img class="demo" src="__PUBLIC__/picture/step-3_81136cd.jpg" alt="第三步">
</div>
</div>
</div>
<input type="hidden" id="bdstoken" name="bdstoken" value="">
<input type="hidden" id="bindstoken" name="bindstoken" value="">
</div>
<footer id="baiducopy">
<div class="footer-items">
<div class="footer-items-snippet footer-item help">
<h3>帮助</h3>
<div class="text">
<a href="https://waimai.baidu.com/waimai?qt=contact">建议与反馈</a>
<a href="https://waimai.baidu.com/waimai?qt=helpusage">使用帮助</a>
<a href="https://waimai.baidu.com/waimai?qt=helpqa">常见问题</a>
<a href="https://waimai.baidu.com/waimai?qt=agreement">用户协议</a>
<a href="/waimai?qt=agreement&right=1">权利声明</a>
</div>
</div>
<div class="footer-items-snippet footer-item followus">
<h3>关注我们</h3>
<div class="text">
<a href="http://tieba.baidu.com/f?kw=%B0%D9%B6%C8%CD%E2%C2%F4&fr=ala0" target="_blank">官方论坛</a>
<a href="http://weibo.com/waimai" target="_blank">新浪微博</a>
<a href="https://waimai.baidu.com/waimai?qt=about" target="_blank">关于我们</a>
<a data-node="wechat" href="javascript:void(0);" class="wechat">微信公众号</a>
<a href="/waimai?qt=agreement&right=2" target="_blank">平台制度</a>
</div>
</div>
<div class="footer-items-snippet footer-item">
<h3>商务合作</h3>
<div class="text">
<a href="http://waimai.baidu.com/biz" target="_blank">商户入驻</a>
<a href="https://waimai.baidu.com/waimai?qt=agent" target="_blank">代理商合作</a>
</div>
</div>
<div class="footer-items-contact footer-item">
<h3>
<img src="__PUBLIC__/picture/contact_25be17c.png" alt="图标">
客服热线</h3>
<em>400-011-7777</em>
<div class="text no-hover">
<span>周一至周日9:00-22:00</span>
</div>
</div>
</div>
<p class="footer-copy">
小度生活（北京）科技有限公司，北京小度信息科技有限公司<a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank" style="margin-left:15px;">京ICP备16008577-1号</a>
<span>合作伙伴&nbsp;:&nbsp;</span>
<img src="__PUBLIC__/picture/nuomi_logo.png" class="footer_nuomi_logo" onclick="javascript:window.location='http://www.nuomi.com/?cid=bdwm';addNStat({da_trd:'waimai',da_src:'nuomilogoBk.click',da_act:'click'});" />
<img src="__PUBLIC__/picture/qianbao_logo.png" class="footer_qianbao_logo" onclick="javascript:window.location='https://www.baifubao.com?from=waimai';addNStat({da_trd:'waimai',da_src:'qianbaologoBk.click',da_act:'click'});" />
</p>
</footer>
<div class="mask"></div>
</body>
</html>
